*{
    color: #931a25;
    /*rgb(147,26,37)*/
    color: #E97171;
    /*rgb(233,113,113)*/
    color: #ffcb8e;
    /*rgb(255,203,142)*/
    color: #f5efef;
    /*rgb(245,239,239)*/
    color: #cc0e74;
    /*rgb(204,14,116)*/
}